*{
    font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
}

h3{
    text-align: center;
    margin-bottom: 0%;
}

input, select{
    border: none;
    appearance: none;
}

h4{
    margin: 0;
}

table{
    margin-top: 0%;
    margin: 25pt;
}
table{
    border: none;
}

.table2, th, .table2 td {
    border: 1px solid black;
    border-collapse: collapse;
}

.table2 td input{
    padding: 5pt;
}

li{
    list-style: upper-alpha;
    margin-left: 60pt;
}

p{
    margin-left: 25pt;
}